{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock title %}

{% block content %}
<div class="container">
    <h1>Animal Connect</h1>
    <p>AnimalConnect, a pioneering organization dedicated to animal welfare, has launched an open forum to assist with the lost, found, and rehoming of exotic and domestic animals. This innovative platform allows users to create, edit, and delete their own posts, providing a vital resource for individuals and families seeking to reunite with lost pets, find the owners of found animals, or rehome pets in need of new homes. The user-friendly interface ensures that even those new to online forums can easily navigate and contribute, while advanced features such as image uploads, detailed descriptions, and contact information fields enhance the effectiveness of each post.</p>
    <p>In addition to facilitating direct communication between users, AnimalConnect's forum fosters a compassionate and supportive community. Members can comment on posts, offer advice, and share resources, creating a network of animal lovers who work together to ensure the safety and well-being of pets. Moderation tools are in place to maintain the integrity of the forum, allowing users to report suspicious activity or inappropriate content. By prioritizing the needs of both the animals and the users, AnimalConnect exemplifies its commitment to animal welfare and community building, providing a crucial service for those in need of assistance with their pets.</p>
</div>
{% endblock content %}